.container-float {
    display: flex;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    min-height: calc(80vh - 100px); 
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative; 
    margin-top: 10px;
}

.left-column {
    flex: 20%;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    font-family: LeagueSpartan-Bold;
    font-size: 28px;
}
.right-column {
    flex: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}



li{
    font-size:18px;
}

.button-lib{
    background-color: blue;
}