.container-float {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 90vw;
  border-radius: 10px;
  min-height: calc(80vh - 100px); 
  margin: 10px auto 20px auto;
  position: relative; 
  overflow: hidden; 
  box-sizing: border-box;
}

.left-column {
  flex: 1 1 25%;
  background-color: #1044B4;
  padding: 10px;
  border-radius: 10px;
  font-family: LeagueSpartan-Bold;
  font-size: 28px;
}

.right-column {
  flex: 1 1 75%;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}

@media (min-width: 1180px) {
  .container-float {
      width: 66vw;
      margin-left: auto;
      margin-right: auto;
  }
  .nav-left {
    margin-left: 17%;
  }
  
  .nav-right {
    margin-right: 17%;
  }
}

@media (max-width: 1180px) {
  .left-column {
      flex: 1 1 25%;
  }
  .right-column {
      flex: 1 1 75%;
      padding-left: 20px;
      padding-right: 20px;
  }
  
}

/* Default styles for larger screens */
.container-float {
  display: flex;
}

.left-column {
  flex: 0 0 25%; /* Adjust as needed */
}

.right-column {
  flex: 1;
}

@media (max-width: 870px) {
  .left-column {
      width: 150px; /* Fixed width for small screens */
  }
  .right-column {
      flex: 1;
      margin-left: 20px; /* Optional spacing */
  }
  
}




li {
  font-size: 18px;
}

.button-lib {
  background-color: #1044B4;
}

td, th {
  color: black;
}

.item-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.item-card {
  width: 100%;
  text-align: center;
}

.item-card-pic {
  max-width: 100%;
  height: auto;
}

.item-card-body {
  padding: 10px 0;
}

.item-card-title {
  margin: 10px 0;
  color: black;
}

.item-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1044B4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 2px;
}

@media (min-width: 1600px) {
  .grid-item {
      width: calc(50% - 2%);
  }
}

@media (max-width: 768px) {
  .grid-item {
      width: calc(100% - 2%);
  }
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
}

.form-checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.form-checkbox {
  margin-right: 15px;
}

.form-checkbox input {
  margin-right: 5px;
}

.form-checkbox-label {
  color: black;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-button:hover {
  background-color: #0056b3;
}

.button-container {
  position: absolute;
  top: 20px; /* Distance from the top of the container */
  left: 0;
  width: 200px; /* Width of the button container */
  border-radius: 0 8px 8px 0; /* Rounded corners */
  padding: 20px;
}

.button-lib {
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%; /* Full width buttons */
}

.side-button {
  background: linear-gradient(145deg, #0069d9, #007bff); /* Gradient background */
  color: white;
  font-weight: bold;
  margin-top: 10px; /* Spacing between buttons */
}

.button-lib:hover {
  background: linear-gradient(145deg, #002d5b, #003d7a); /* Darker gradient on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.button-list {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

.button-list li {
  margin: 10px 0; /* Margin between list items */
}

.button-text {
  position: relative;
}

.button-lib::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px; /* Adjust to position the icon */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url('path/to/icon.png') no-repeat center center; /* Replace with your icon path */
  background-size: contain;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.button-lib:hover::before {
  opacity: 1;
}



@media (max-width: 768px) {
  .container-float {
      flex-direction: column;
      width: 90vw;
  }

  .left-column {
      width: 100%; /* Full width in column layout */
  }

  .right-column {
      padding-left: 20px;
      padding-right: 20px;
  }

  .button-lib {
    width: 30%; /* Full width buttons */
  }
}