.grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: -1%; /* to account for the margins on the grid-items */
}
.grid-item {
    width: calc(33.333% - 2%);
    margin: 1%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Center align the item-card-container horizontally */
}
.item-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure it takes full width of the grid-item */
}
.item-card {
    width: 100%;
    text-align: center;
}
.item-card-pic {
    max-width: 100%;
    height: auto;
}
.item-card-body {
    padding: 10px 0;
}
.item-card-title {
    margin: 10px 0;
}
.item-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
/* Adjustments for responsiveness */
@media (max-width: 1024px) {
    .grid-item {
        width: calc(50% - 2%);
    }
}
@media (max-width: 768px) {
    .grid-item {
        width: calc(100% - 2%);
    }
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black; /* Set label text color to black */
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white; /* Set input background color to white */
    color: #333; /* Set input text color */
  }
  
  .form-checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center checkboxes horizontally */
    gap: 10px; /* Add spacing between checkboxes */
  }
  
  .form-checkbox {
    margin-right: 15px;
  }
  
  .form-checkbox input {
    margin-right: 5px;
  }
  
  .form-checkbox-label {
    color: black; /* Set days checkbox label color to black */
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }

  .header-container{
    display: flex;
    background-color: white;
    width: 90vw;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 35px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    position: relative; 
    margin-top: 30px;
}

@media (min-width: 1180px) {
  .header-container{
    width: 66vw;
      margin-left: auto;
      margin-right: auto;
  }
}

.head-left{
    flex: 2;
    text-align: left;
    font-size: 2rem;
    color: #1044B4;
    font-family: LeagueSpartan-Bold;
    text-align: left;
}

.head-right{
    flex: 1;
    text-align: right;
}