   .blue-background {
    background-color: #1044B4;
    height: 100vh; /* 100% of the viewport height */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .white-container {
    background-color: white;
    width: 60%;
    /* height: 70%; */
    border-radius: 10px;
    vertical-align: middle;
  }

  h1 {
    color: #1044B4;
    text-align: center;
    font-family: LeagueSpartan-Bold;
  }

  h2 {
    font-size: 23px;
    color: #1044B4;
  }

  .row {
    display: flex;
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Horizontally centers the items */
   
  }
  
  .column {
    flex: 1; /* Ensures each column takes equal space */
    vertical-align: middle;
    text-align: center; /* Centers text within columns */
  }

  img{
    height: 300px;
  }

  p{
    color: black;
  }
  